<div class="container-fluid">
    <div id="home" class="row align-items-center hero">
        <div class="col-lg-3 offset-lg-2">
            <p></p>
            <h1>Especialista en kinesiología y rehabilitación deportiva</h1>
        </div>
    </div>
</div>
<div class="row my-3">
    <div id="novedades" class="col-md-5 offset-md-2 py-3">
        <h2>novedades</h2>
        <ul class="lista-novedades">
            <li><a href="#Especialistas" data-bs-toggle="modal" data-bs-target="examplemodal"><img
                        src="images/osteochiquito.jpg">Especistas</a></li>
            <li><a href="#" data-bs-toggle="modal" data-bs-target="examplemodal"><img
                        src="images/osteochiquito.jpg">Tratamientos</a></li>
            <li><a href="#" data-bs-toggle="modal" data-bs-target="examplemodal"><img
                        src="images/osteochiquito.jpg">Terapias
                    alternativas</a></li>
            <li><a href="#" data-bs-toggle="modal" data-bs-target="examplemodal"><img
                        src="images/osteochiquito.jpg">Sedes</a>
            </li>
        </ul>
   
    <div class="modal fade" id="examplemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLabel">nueva receta</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                </div>
                <div class="modal-body">
                    <h3>subtitulo</h3>
                    <p>cuerpo</p>
                </div>
            </div>

            <div class="col-md-3 my-3">

                <div class="rounded py-5 testimonios">

                    <h2 class="text-center">Testimonios</h2>

                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">

                        <div class="carousel-indicators">

                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>

                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>

                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>

                        </div>

                        <div class="carousel-inner">

                            <div class="carousel-item active">

                                <div class="testimonio">

                                    <h5>"La mejor birra del mundo!!"</h5>

                                    <p>Francisco, Monte Grande</p>

                                </div>

                            </div>

                            <div class="carousel-item">

                                <div class="testimonio">

                                    <h5>"La mejor birra del mundo 2!!"</h5>

                                    <p>Flavia, Devotoe</p>

                                </div>

                            </div>

                            <div class="carousel-item">

                                <div class="testimonio">

                                    <h5>"La mejor birra del mundo 3!!"</h5>

                                    <p>Eric, Mataderos</p>

                                </div>

                            </div>

                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">

                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>

                            <span class="visually-hidden">Previous</span>

                        </button>

                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">

                            <span class="carousel-control-next-icon" aria-hidden="true"></span>

                            <span class="visually-hidden">Next</span>

                        </button>

                    </div>

                </div>

            </div><!-- cierra lo de testimonios -->
 </div>
        </div><!-- cierra div con id novedades-->
    </div>


    <div id="pg-1077-1" class="panel-grid panel-has-style">
        <div class="siteorigin-panels-stretch panel-row-style panel-row-style-for-1077-1"
            style="padding: 3% 0px; background-position: 50% 58px; margin-left: 15px; margin-right: 15px; border-left: 0px; border-right: 0px;"
            data-stretch-type="full" data-overlay="true" data-overlay-color="#000000">
            <div id="pgc-1077-1-0" class="panel-grid-cell">
                <div id="panel-1077-1-0-0" class="so-panel widget widget_text panel-first-child" data-index="1">
                    <div style="text-align: center;" id="servicios" data-title-color="#443f3f"
                        data-headings-color="#443f3f" class="panel-widget-style panel-widget-style-for-1077-1-0-0">
                        <div class="textwidget">
                            <p><strong>KINESIOLOGÍA: CONTAMOS CON PROFESIONALES ALTAMENTE CAPACITADOS EN ESTE
                                    CAMPO</strong></p>
                        </div>
                    </div>
                </div>
                <div id="panel-1077-1-0-1" class="so-panel widget widget_text panel-last-child" data-index="2">
                    <div style="text-align: left;" id="servicios" data-title-color="#443f3f"
                        data-headings-color="#443f3f" class="panel-widget-style panel-widget-style-for-1077-1-0-1">
                        <div class="textwidget">
                            <div id="pg-410-1" class="panel-grid panel-has-style">
                                <div class="panel-row-style panel-row-style-for-410-1" data-overlay="true"
                                    data-overlay-color="#000000" style="background-position: 50% 82px;">
                                    <div id="pgc-410-1-0" class="panel-grid-cell">
                                        <div id="panel-410-1-0-1" class="so-panel widget widget_text panel-last-child"
                                            data-index="2">
                                            <div id="kinesiologia"
                                                class="panel-widget-style panel-widget-style-for-410-1-0-1"
                                                data-title-color="#443f3f" data-headings-color="#443f3f">
                                                <div class="textwidget">
                                                    <p>La kinesiología es altamente beneficiosa para personas de todas
                                                        las edades que
                                                        experimentan dolor muscular, sufren enfermedades o lesiones
                                                        crónicas.</p>
                                                    <p>Un programa de rehabilitación personalizado puede ayudar a las
                                                        personas a mejorar la
                                                        movilidad, eliminar o reducir el dolor y recuperarse de lesiones
                                                        de manera más rápida.
                                                        Dentro de esa área también realizamos tratamiento para los
                                                        trastornos témporo mandibulares
                                                        (ATM).</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="siteorigin-panels-stretch panel-row-style BENEFICIOS panel-row-style-for-1077-2"
        style="padding: 1% 0px; margin-left: 15px; margin-right: 15px; border-left: 0px; border-right: 0px; background-position: 50% -206px;"
        data-stretch-type="full" data-overlay="true" data-overlay-color="#000000">
        <div id="pgc-1077-2-0" class="panel-grid-cell">
            <div id="panel-1077-2-0-0" class="so-panel widget widget_text panel-first-child panel-last-child"
                data-index="3">
                <div style="text-align: center;" id="servicios" data-title-color="#443f3f" data-headings-color="#443f3f"
                    class="panel-widget-style panel-widget-style-for-1077-2-0-0">
                    <div class="textwidget">
                        <p><strong>BENEFICIOS DE LA KINESIOLOGÍA</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="pg-1077-3" class="panel-grid BENEFICIOS panel-has-style">
        <div class="siteorigin-panels-stretch panel-row-style panel-row-style-for-1077-3"
            style="padding: 0% 0px; margin-left: 15px; margin-right: 15px; border-left: 0px; border-right: 0px; background-position: 50% -185px;"
            data-stretch-type="full" data-overlay="true" data-overlay-color="#000000">
            <div id="pgc-1077-3-0" class="panel-grid-cell">
                <div id="panel-1077-3-0-0" class="so-panel widget widget_media_image panel-first-child panel-last-child"
                    data-index="4">
                    <div style="text-align: center;" data-title-color="#443f3f" data-headings-color="#443f3f"
                        class="panel-widget-style panel-widget-style-for-1077-3-0-0"><img src="images/logoblanco.jpeg"
                            width="298" height="300" class="img wp-image-1081  attachment-medium size-medium" alt=""
                            loading="lazy" style="max-width: 100%; height: auto;"
                            sizes="(max-width: 298px) 100vw, 298px"></div>
                </div>
            </div>
            <div id="pgc-1077-3-1" class="panel-grid-cell">
                <div id="panel-1077-3-1-0" class="so-panel widget widget_text panel-first-child panel-last-child"
                    data-index="5">
                    <div style="text-align: left;" id="servicios" data-title-color="#443f3f"
                        data-headings-color="#443f3f" class="panel-widget-style panel-widget-style-for-1077-3-1-0">
                        <div class="textwidget">
                            <p>▷ Prevención de dolores musculares y problemas óseos.</p>
                            <p>▷ Recuperación de lesiones deportivas de manera acelerada.</p>
                            <p>▷ Recuperación de dolores producidos por accidentes.</p>
                            <p>▷ Mejora general del estado general de las articulaciones.</p>
                            <p><strong>Te esperamos en nuestro centro de kinesiología en Zona Norte para brindarte el
                                    servicio más
                                    profesional y cordial.</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="historia" class="row align-items-center historia py-4">
        <div class="col-lg-2 col-md-3 offset-lg-3 d-none d-sm-block">
            <li><a href="#historia" data-bs-toggle="modal" data-bs-target="examplemodal"></a></li>
            <img src="images/juanmanuel.jpeg" class="img-fluid" width="298" height="300" class="img wp-image-1081  attachment-medium size-medium" alt="">
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">

        </div>


        <div class="row align-items-center historia py-4 offset-lg-1">
            <h2>HISTORIA</h2>
            <h1>Lic. Juan Manuel Gimenez</h1>
            <h6>Licenciado en Kinesiologia y fisiatría</h6>
            <p>Universidad de Buenos Aires 2011</p>
            <h6>Postgrado en Rehabilitacion Postural Global (Método Souchard)</h6>
            <p>2013</p>
            <h6>Curso de Lesiones Posturales en RPG</h6>
            <p>2013</p>
            <h6>Acupuntura y MTC niveles I y II 2014-2015</h6>
            <p>IMADA 2014-2015</p>
            <h6>CO en Osteopatía</h6>
            <p>2016-2020</p>
            <h6>Certificado en FMS niveles I y II</h6>
            <p>2019</p>
            <h6>Kinesiologo del plantel superior de básquet</h6>
            <p>Club sportivo Escobar - Torneo Federal</p>
            <h6>Jefe del servicio de kinesiología en la Clinica del Dolor en FLENI</h6>
            <p>2013-2019</p>
        </div>
    </div>

    <div id="conocenos" class="row py-4">
        <div class="col-md-4 offset-md-2">
            <h2>visitanos</h2>
            <div class="mapa">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3294.020156333299!2d-58.79945950000002!3d-34.34996509999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bb61bb9ea0de7f%3A0xad4fadceff20b838!2sBernardo%20de%20Irigoyen%2C%20B1625%20Bel%C3%A9n%20de%20Escobar%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1685491954112!5m2!1ses-419!2sar"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe></iframe>
            </div>
        </div>


        <div class="col-md-6 mt-4 mt-sm-0">
            <h2>contactanos</h2>
            <form class="row g-3" action="/" method="post">
                <div class="col-md-6">
                    <label for="Apellido" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="Nombre" name="nombre">
                </div>
                <div class="col-12">
                    <label for="inputPassword4" class="form-label">Apellido</label>
                    <input type="password" class="form-control" id="inputPassword4" name="apellido">
                </div>
                <div class="col-12">
                    <label for="email" class="form-label">EMAIL</label>
                    <input type="email" class="form-control" id="email" placeholder="email@email.com" name="email">
                </div>
                <div class="col-12">
                    <label for="telefono" class="form-label">Telefono</label>
                    <input type="text" class="form-control" id="tel" placeholder="...." name="tel">
                </div>
                <div class="col-12">
                    <label for="mensaje" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="mensaje" rows="3" name="mensaje"></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>

    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#home">home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#novedades">novedades</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#nosotros">Historia</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#conocenos">conocenos</a>
    </li>



    <div id="sidebar-footer" class="footer-widgets widget-area" role="complementary">
        <div class="container">
            <div class="sidebar-column col-md-4">
                <aside id="text-4" class="widget widget_text">
                    <div class="textwidget">

                    </div>
                </aside>
            </div>

            <div class="sidebar-column  pie  col-md-6">
                <aside id="text-7" class="widget widget_text">
                    <div class="textwidget">

                        <p></p>
                        <center><strong>Centro Kinesiológico</strong></center><br>
                        <strong>Dirección:</strong>Bernardo de irigoyen (1644) – Belen de Escobar (Zona Norte)<p></p>
                        <p><strong>Teléfono:</strong><a style="color: white;" style="color: white;"
                                href="tel:1151753186">11-34962539</a><br>
                            <strong>Email:</strong><a style="color: white;" href="">manu_712@hotmail.com</a>
                        </p>
                    </div>
                </aside>
                <aside id="text-7" class="widget widget_text">
                    <div class="textwidget">

                    </div>
                </aside>
            </div>

            <div class="sidebar-column col-md-4">
                <aside id="text-5" class="widget widget_text">
                    <div class="textwidget">
                        <p>&nbsp;</p>
                    </div>
                </aside>
            </div>


        </div>
    </div>